#body
{width:1100px;
height:3000px;
 position:fixed;
  background-color:green;
border:1px solid black;
}

#pathak ul
{	  
      	color:green;

	
	border:1px solid black;	
	
	 width:700px;
    	  height:100px;
	border-radius:12px;
    	  background-color:white;
      text-align:center;
align:center;
}




     


#pathak1 ul
{	  
      	color:white;

	
	border:1px solid black;	
	
	 width:700px;
    	  height:1000px;
	border-radius:12px;
    	  background-color:green;
   align:center;


}
#pathak2 ul
{	  
      	color:white;
                  align:center;
	
	border:1px solid black;	
	
	 width:700px;
    	  height:1000px;
	border-radius:12px;
    	  background-color:green;
	
}
#pathak3 ul
{	  
      	color:white;
     align:center;        
           
	border:1px solid black;	
	
	 width:700px;
    	  height:1000px;
	border-radius:12px;
    	  background-color:green;
	
}

#pathak4 ul
{	  
      	color:white;

align:center;
	border:1px solid black;	
	left:0px;
	 width:700px;
    	  height:1000px;
	border-radius:12px;
    	  background-color:green;
	
}
#pathak5 ul
{	  
      	color:green;

	
	border:1px solid black;	
	
	 width:700px;
    	  height:100px;
	border-radius:12px;
    	  background-color:white;
      text-align:center;
align:center;
}



